<div class="row">
  <div class="col-xs-12 col-lg-6">
    <h1 class="contact-header">Drop us a line</h1>
    <div class="envelope">
      <div class="form-inline paper-size">
        <%= flash[:notice] %>
        <%= form_tag("/static_pages/thank_you") do %>
                <div class="form-group">
                  <%= label_tag :name, "Name:", class: "contact-name required" %>
                  <%= text_field_tag :name, nil, required: true, maxlength: "20", placeholder: "What's your name?", class: "form-control contact-name" %>
                </div>
                <div class="form-group">
                  <%= label_tag :email, "Email:", class: "contact-email required" %>
                  <%= text_field_tag :email, nil, required: true, placeholder: "What's your email-address?", pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}', class: "form-control contact-email" %>
                </div>
                <div class="form-group message-group">
                  <%= label_tag :message, "Message:", class: "required" %>
                  <%= text_area_tag :message, nil, required: true, placeholder: "Type your message here...", class: "form-control contact-message", id: "message-box" %>
                </div>
            <%= submit_tag "Send", class:"submit-button", id:"envelope-button" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h1>Come and visit us!</h1>
    <p>Our shop is located in the heart of Berlin, close to Alexanderplatz.</p>
    <p>Bike Berlin</p>
    <p>Otto-Braun-Straße 5<br>10178 Berlin</p>
  </div>
</div>
<div class="button-back"><%= link_to 'Back', :back%></div>
