<h1>Come and visit us!</h1>
<p>Our shop is located in the heart of Berlin, close to Alexanderplatz.</p>
<p>Bike Berlin</p>
<p>Otto-Braun-Straße 5<br>10178 Berlin</p>

<div class="contact-wrapper">
  <%= flash[:notice] %>

  <%= form_tag("/static_pages/thank_you") do %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag :name %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name" %>
          </div>
          <div class="form-group">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Your Email Address" %>
          </div>
          <div class="form-group">
            <%= label_tag :message %>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Your Message" %>
          </div>
        </div>
      </div>
      <%= submit_tag "Send", class:"submit-button" %>
  <% end %>
</div>
<div class="button"><%= link_to 'Back', :back%></div>
