<div class="row">
  <div class="col-xs-12 col-sm-4 login-container">
    <h1>Please log in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"login-field" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class:"login-field" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "submit-button"%>
      </div>
    <% end %>

    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 image-box">

    <%= render partial: "devise/ride-image"%>

  </div>
</div>
<div class="button-back"><%= link_to 'Back', :back%></div>