<% cache product do %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a class="product-container" href="<%= product_path(product)  %>">
      <div class="polaroid">
        <div class="bike-photo">
          <%= image_tag(product.image_url, class: "img-responsive") %>
        </div>
      </div>
      <h2><%= product.name %></h2>
      <p class="color">Color: <%= product.color %></p>
      <p class="description"><%= product.description %></p>
      <p class="price"> <%= product.price %> Euro </p>
    </a> <!-- end product-container -->
    <div class="index-links">
      <div class="button"><%= link_to 'Edit', edit_product_path(product) %></div>
      <div class="button"><%= link_to 'Delete', product, method: :delete, data: {confirm: 'Are you sure?' } %></div>
    </div>
    <div>
      This product has been viewed: <%= product.views %> times.
    </div>
  </div> <!-- end col -->
<% end %>